@font-face {
    font-family: outLine;
    src: url('./font/Boldness\ Outline\ 250.otf');
}

@font-face {
    font-family: Regular;
    src: url('./font/Boldness\ Regular\ 400.otf');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;

}

table th {
    font-family: Regular;
    font-weight: 100;
    cursor: pointer;
}

h1 {
    font-family: outLine;
}

img {
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes pulse {
    0% {
        transform: scale(.5);
    }

    100% {
        transform: scale(1);
    }
}

.header {
    height: 10vh;
}

.total {
    margin-top: 5px;
}

table th{
    position: sticky;
    top:0;
}

@media (max-width: 500px) {
    .container {
        font-size: 12px;
    }

}